.Pendu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
  user-select: none;
}

.Pendu > .KeyboardPendu {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
  user-select: none;
}

.Pendu > .Loose {
  visibility: hidden;
  font-size: 2em;
  font-family: Menlo, Monaco, Consolas, Inconsolata;
  width: 100%;
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#6495ED;
  color:#fff;
  cursor: pointer;
}

.Pendu > .Victory {
  visibility: hidden;
  font-size: 2em;
  font-family: Menlo, Monaco, Consolas, Inconsolata;
  width: 100%;
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#6495ED;
  color:#fff;
  cursor: pointer;
}

